<!DOCTYPE html>
<html class="app" lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <%= tag(:meta, name: 'csrf-param', content: 'authenticity_token') %>
    <%= tag(:meta, name: 'csrf-token', content: session[:csrf]) %>
    <title><%= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel=stylesheet />
    <%= stylesheet_link_tag 'index', 'application' %>
  </head>
  <body>
    <div class="menu">
      <div class="brand"><%= link_to 'Polog', url(:base, :index) %></div>
      <ul>
        <li class="<%= 'active' if request.path == url(:posts, :new) %>">
          <% link_to url(:posts, :new) do %>
            <%= content_tag(:i, '', class: 'fa fa-pencil') %>
            <%= content_tag(:p, '编写文章') %>
          <% end %>
        </li>
        <li class="<%= 'active' if request.path == url(:posts, :index) %>">
          <% link_to url(:posts, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-list') %>
            <%= content_tag(:p, '文章管理') %>
          <% end %>
        </li>

        <li class="<%= 'active' if request.path == url(:accounts, :index) %>">
          <% link_to url(:accounts, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-users') %>
            <%= content_tag(:p, '账号管理') %>
          <% end %>
        </li>

        <li class="<%= 'active' if request.path == url(:attachments, :index) %>">
          <% link_to url(:attachments, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-paperclip') %>
            <%= content_tag(:p, '附件管理') %>
          <% end %>
        </li>

        <li class="<%= 'active' if request.path == url(:comments, :index) %>">
          <% link_to url(:comments, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-comment') %>
            <%= content_tag(:p, '评论管理') %>
          <% end %>
        </li>
      </ul>
    </div>

    <main id="main">
      <nav class="nav">
        <ul>
          <li><a href="#"><i class="fa fa-bars"></i></a></li>
        </ul>
      </nav>
      
      <div id="content">
        <%= yield %>
      </div>
    </main>

    <%= javascript_include_tag 'index.bundle.js', 'bootstrap/bootstrap.min.js' %>
    <%= yield_content :script %>
  </body>
</html>
