<!DOCTYPE html>
<html class="app" lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name=viewport content='width=device-width,initial-scale=1' />
    <title><%= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel=stylesheet />
    <%= stylesheet_link_tag 'index', 'application' %>
  </head>
  <body>
    <div class="menu">
      <div class="brand"><%= link_to 'Polog', url(:base, :index) %></div>
      <ul>
        <li>
          <% link_to url(:accounts, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-bars') %>
            <%= content_tag(:p, '文章管理') %>
          <% end %>
        </li>

        <li class="<%= 'active' if request.path.start_with? url(:accounts, :index) %>">
          <% link_to url(:accounts, :index) do %>
            <%= content_tag(:i, '', class: 'fa fa-users') %>
            <%= content_tag(:p, '账号管理') %>
          <% end %>
        </li>
      </ul>
    </div>

    <main id="main">
      <nav class="nav">
        <ul>
          <li><a href="#"><i class="fa fa-bars"></i></a></li>
        </ul>
      </nav>
      <%= yield %>
    </main>

    <%= javascript_include_tag 'index.bundle.js', 'bootstrap/bootstrap.min.js' %>
  </body>
</html>
